<table class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let header of _headers">{{header}}</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let user of _records">
      <td>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
              <i class="fa fa-book" aria-hidden="true"></i>
            </button>
          </div>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-default">
              <i class="fa fa-envelope fa-1" aria-hidden="true"></i>
            </button>
          </div>
      </td>
      <td *ngIf="_headers.includes('users')">
        {{user.lastName | capitalize }}, {{user.firstName | capitalize }}
        <br/>
        <i>{{user.userName | capitalize}}</i>
      </td>
      <td *ngIf="_headers.includes('users')">
        {{user.orgId}}
      </td>
      <td *ngIf="_headers.includes('users')">
        {{user.userStatus | capitalize }}
      </td>
    </tr>
  </tbody>
</table>
